<section class="py-32">
  <div class="max-w-2xl mx-auto px-6 text-center">
    <h1 class="text-5xl md:text-6xl font-bold">
      One Book.
      <br class="hidden md:block" />
      One <span class="bg-amber-300 dark:bg-amber-200">Surprise</span> Reader!
    </h1>

    <p class="mt-6 text-lg text-gray-600 max-w-2xl">
      Click on the button below and we'll randomly get you one book to read.
      <br class="hidden md:block" />
      <span class="font-semibold">
        Randomly, fairly, meaningfully.
      </span>
    </p>

    <div class="mt-10 flex justify-center gap-4">
      <button z-button zType="default" zSize="lg" class="px-4 py-2 text-sm font-sans">
        <a href="#">
          Give me the book!
        </a> 
      </button>
    </div>
  </div>
</section>