spring:
  application:
    name: books-catalog-service
  datasource:
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:books-catalog}
    username: ${DB_USER:books_db_user}
    password: ${DB_PASS:books_db_pass}
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: false
    properties:
      hibernate:
        format_sql: true
  flyway:
    enabled: true
    locations: classpath:db/migration
    url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:books-catalog}
    user: ${DB_USER:flyway_books_db_user}
    password: ${DB_PASS:flyway_books_db_pass}
    baseline-on-migrate: true
    out-of-order: false
    output-query-results: true

management:
  metrics:
    distribution:
      percentiles-histogram:
        http:
          server:
            requests: true
        jvm:
          gc:
            pause: true
  server:
    port: 8080
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always
  prometheus:
    metrics:
      export:
        enabled: true

otel:
  exporter:
    otlp:
      endpoint: http://jaeger-collector.tracing:4317
  service:
    name: ${APPLICATION_NAME}

springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html

server:
  port: 8080
